:root {
    --form-control-color: rebeccapurple;
}

body,
html {
    left: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #1d1d2d;
}

main {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

main.animated {
    opacity: 0;
    filter: blur(10px);
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

form {
    text-align: center;
}

form>* {
    color: #fffa;
    background-color: #1d1d2d;
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #fffa;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#home,
#back {
    margin: 10px;
    text-align: center;
    display: table-cell;
}

#home>h1>a,
#back>h1>a {
    font: inherit;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-radius: 1em;
    background-color: #1d1d2d;
    color: #fffa;
    padding: 0.3em 0.6em;
    border: 1px solid #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}